// Lists

// Unstyled keeps list items block level, just removes default browser padding and list-style
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

@mixin list-inline {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    li {
      margin: 0;
      padding: 0;
      display: inline-flex;
      list-style: none;
    }
  }
}
