<div class="container app-page">

  <!-- Logo Start -->
  <div fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="20" fxFlex.xs="40">
      <div class="m-5-y"><img src="../assets/images/chubb-white-logo.png" alt="CHUBB Logo" class="img-responsive"></div>
    </div>
  </div>
  <!-- Logo End -->

  <!-- Message Start -->
  <div fxLayout="row" fxLayoutAlign="start center" class="app-page--message">
    <div>
      <!-- IRM Logo Start -->
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="20" fxFlex.xs="40">
          <div class="m-1-y"><img src="../assets/images/irm-logo.png" alt="IRM Logo" class="img-responsive"></div>
        </div>
      </div>
      <!-- IRM Logo End -->
      <h1>Information Reference Material</h1>
      <div>Process Monitoring - Claim IT Releases <br>
        eLoss Testing Page | SAS Testing Page | Server Test Page | CV Prod Page | Release / Build Calendars</div>
      <!-- <button mat-raised-button class="m-3-y">Get Start</button> -->
      <div class="m-3-y"> <a href="/home" mat-raised-button>View Dashboard</a> </div>
    </div>
  </div>
  <!-- Message End -->

  <!-- Particles Animation Start -->
  <particles id="particles" [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
  <!-- Particles Animation End -->

</div>
