<!-- <mat-toolbar color="primar1" class="header">
    <span class="header-logo"><img src="../assets/images/chubb-white-logo.png" alt="CHUBB Logo" class="img-responsive"></span>
    
    <span class="example-spacer"></span>

    <span>Information Reference Material</span>
</mat-toolbar> -->


<div class="header">
    <span class="header-logo">
        <img src="../assets/images/chubb-pink-logo.png" alt="CHUBB Logo" class="img-responsive">
    </span>
    <span class="irm-logo">
        <img src="../assets/images/irm-color-logo.png" alt="IRM Logo" class="img-responsive">
    </span>
    <!-- <div class="header-logo-tag">Information Reference Material</div> -->
</div>


<div echarts [options]="options | async" class="demo-chart"></div>